<app-navbar></app-navbar>
<section class="px-5 py-5" id="ViewEmployees">
  <table class="table table-hover table-bordered text-center">
    <thead>
      <tr class="table-secondary">
        <th>S.No</th>
        <th scope="col">Employee ID</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">City</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>33</td>
        <td>Azhar</td>
        <td>mohammedazhar&#64;gmail.com</td>
        <td>9876543210</td>
        <td>Chennai</td>
      </tr>
      <tr>
        <td>2</td>
        <td>21</td>
        <td>Jagadish</td>
        <td>jagadish&#64;gmail.com</td>
        <td>9384997035</td>
        <td>Tvm</td>
      </tr>
      <tr>
        <td>3</td>
        <td>35</td>
        <td>Mugesh</td>
        <td>mugesh&#64;gmail.com</td>
        <td>9876543210</td>
        <td>Chennai</td>
      </tr>
      <tr>
        <td>4</td>
        <td>36</td>
        <td>Mugil</td>
        <td>mugilvannan&#64;gmail.com</td>
        <td>8940668116</td>
        <td>Chennai</td>
      </tr>
    </tbody>
  </table>
</section>
